{% assign test_product = all_products['acorn-footies'] %}

<div>
    <div class="x-max-w-[1280px] x-mx-auto">
        <div class="x-text-center x-py-[20px]">Bloomers</div>
        <div class="x-flex x-flex-col x-gap-[24px] x-p-[20px]">
            <div class="x-flex x-flex-col x-gap-[20px]">
                <div class="x-grid x-grid-cols-2 x-gap-[16px] x-sticky x-top-[20px] x-z-[2]">
                    <div>
                        <div>
                            <button type="button" class="drawer-open x-p-[12px] x-border x-text-center x-w-full x-bg-white">
                                filter
                            </button>
                            <nav class="drawer-nav x-bg-white" role="navigation">
                                <div class="drawer-menu">
                                    <div class="x-fixed x-top-0 x-w-full x-flex x-justify-end x-bg-red-600">
                                        <button type="button" class="drawer-close x-p-[8px] x-z-50">
                                            <i class='bx bx-x'></i>
                                        </button>
                                    </div>
                                    <div>asdfkasdf</div>
                                    <div>asdfkasdf</div>
                                    <div>asdfkasdf</div>
                                    <div>asdfkasdf</div>
                                    <div>asdfkasdf</div>
                                    <div>asdfkasdf</div>
                                    <div>asdfkasdf</div>
                                    <div>asdfkasdf</div>
                                    <div>asdfkasdf</div>
                                    <div>asdfkasdf</div>
                                    <div>asdfkasdf</div>
                                    <div>asdfkasdf</div>
                                    <div>asdfkasdf</div>
                                    <div>asdfkasdf</div>
                                    <div>asdfkasdf</div>
                                    <div>asdfkasdf</div>
                                    <div>asdfkasdf</div>
                                    <div>asdfkasdf</div>
                                    <div>asdfkasdf</div>
                                    <div>asdfkasdf</div>
                                    <div>asdfkasdf</div>
                                    <div>asdfkasdf</div>
                                    <div>asdfkasdf</div>
                                    <div>asdfkasdf</div>
                                    <div>asdfkasdf</div>
                                    <div>asdfkasdf</div>
                                    <div>asdfkasdf</div>
                                    <div>asdfkasdf</div>
                                    <div>asdfkasdf</div>
                                    <div>asdfkasdf</div>
                                    <div>asdfkasdf</div>
                                    <div>asdfkasdf</div>
                                    <div>asdfkasdf</div>
                                    <div>asdfkasdf</div>
                                    <div>asdfkasdf</div>
                                    <div>asdfkasdf</div>
                                    <div>asdfkasdf</div>
                                    <div>asdfkasdf</div>
                                    <div>asdfkasdf</div>
                                    <div>asdfkasdf</div>
                                </div>
                            </nav>
                        </div>
                        <div class="x-hidden">
                            <div class="collapsable-filter x-border x-border-t-0">
                                <button class="collapse-trigger x-flex x-flex-row x-justify-between x-items-center x-p-[12px] x-w-full">
                                    <div>category</div>
                                    <div class="x-flex x-items-center x-justify-center">
                                        <i class='bx bx-chevron-up'></i>
                                    </div>
                                </button>
                                <div class="collapse-content x-flex x-flex-col x-gap-[8px] x-px-[12px] x-overflow-y-hidden x-transition-all x-duration-300 x-ease-in-out" style="height: 0px;">
                                    <div class="x-flex x-items-center x-gap-[4px]">
                                        <input type="checkbox" name="" id=""><div>choice</div>
                                    </div>
                                    <div class="x-flex x-items-center x-gap-[4px]">
                                        <input type="checkbox" name="" id=""><div>choice</div>
                                    </div>
                                    <div class="x-flex x-items-center x-gap-[4px]">
                                        <input type="checkbox" name="" id=""><div>choice</div>
                                    </div>
                                </div>
    
                            </div>
                            <div class="collapsable-filter x-border x-border-t-0">
                                <button class="collapse-trigger x-flex x-flex-row x-justify-between x-items-center x-p-[12px] x-w-full">
                                    <div>category</div>
                                    <div class="x-flex x-items-center x-justify-center">
                                        <i class='bx bx-chevron-up'></i>
                                    </div>
                                </button>
                                <div class="collapse-content x-flex x-flex-col x-gap-[8px] x-px-[12px] x-overflow-y-hidden x-transition-all x-duration-300 x-ease-in-out" style="height: 0px;">
                                    <div class="x-flex x-items-center x-gap-[4px]">
                                        <input type="checkbox" name="" id=""><div>choice</div>
                                    </div>
                                    <div class="x-flex x-items-center x-gap-[4px]">
                                        <input type="checkbox" name="" id=""><div>choice</div>
                                    </div>
                                    <div class="x-flex x-items-center x-gap-[4px]">
                                        <input type="checkbox" name="" id=""><div>choice</div>
                                    </div>
                                </div>
    
                            </div>
                            <div class="collapsable-filter x-border x-border-t-0">
                                <button class="collapse-trigger x-flex x-flex-row x-justify-between x-items-center x-p-[12px] x-w-full">
                                    <div>category</div>
                                    <div class="x-flex x-items-center x-justify-center">
                                        <i class='bx bx-chevron-up'></i>
                                    </div>
                                </button>
                                <div class="collapse-content x-flex x-flex-col x-gap-[8px] x-px-[12px] x-overflow-y-hidden x-transition-all x-duration-300 x-ease-in-out" style="height: 0px;">
                                    <div class="x-flex x-items-center x-gap-[4px]">
                                        <input type="checkbox" name="" id=""><div>choice</div>
                                    </div>
                                    <div class="x-flex x-items-center x-gap-[4px]">
                                        <input type="checkbox" name="" id=""><div>choice</div>
                                    </div>
                                    <div class="x-flex x-items-center x-gap-[4px]">
                                        <input type="checkbox" name="" id=""><div>choice</div>
                                    </div>
                                </div>
    
                            </div>
                        </div>
                    </div>
                    <div class="x-p-[12px] x-border x-text-center x-bg-white">
                        sort
                    </div>
                </div>
                <div class="x-grid x-grid-cols-2 x-gap-[16px]">
                    <div class="x-w-full x-aspect-square x-bg-red-600">
                    </div>
                    <div class="x-w-full x-aspect-square x-bg-red-600">
                    </div>
                    <div class="x-w-full x-aspect-square x-bg-red-600">
                    </div>
                    <div class="x-w-full x-aspect-square x-bg-red-600">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    .drawer-nav {
        position: fixed;
        z-index: 9999;
        width: 100%;
    }

    .header-container {
        z-index: 1;
    }

    .drawer--left .drawer-nav {
        left: -100%;
    }

    #menu-drawer {
        z-index: 999;
    }
</style>

<script>

    $(document).ready(function() {
        $('.drawer').drawer();

        let test;

        $('.drawer-close').click(function() {
            $('.drawer').drawer('close');
            test = setTimeout(() => {
                $('.shopify-section-group-header-group').css('z-index', '4');
            }, 600);
        });

        $('.drawer-open').click(function() {
            $('.drawer').drawer('open');
            clearTimeout(test);
            $('.shopify-section-group-header-group').css('z-index', '0');
        });
    });

    $(".collapsable-filter").find(".collapse-trigger").click(function() {
        let content = $(this).next();
        let height = content[0].scrollHeight;

        let icon = $(this).find("i");

        if (content.height() == 0) {
            content.css("height", (content[0].scrollHeight + 12) + "px");
            icon.removeClass("bx-chevron-up").addClass("bx-chevron-down");
        } else {
            content.css("height", "0px");
            icon.removeClass("bx-chevron-down").addClass("bx-chevron-up");
        }
    });

</script>