<section>
    <div class="x-py-[64px] md:x-text-[20px] x-flex x-justify-center x-items-center x-text-center">
        Contact&nbsp;<span class="x-font-bold">info@milkdk.com</span>&nbsp;for registration.
    </div>
</section>